<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
  </header>
  <div class="forms kult-item-sheet">
    <div>
      <label>{{localize "kult4e.Attribute"}}:</label>
      <select name="data.attributemod" value="{{data.attributemod}}">
        {{#select data.attributemod}}
        <option value="willpower">{{localize "kult4e.Willpower"}}</option>
        <option value="fortitude">{{localize "kult4e.Fortitude"}}</option>
        <option value="reflexes">{{localize "kult4e.Reflexes"}}</option>
        <option value="reason">{{localize "kult4e.Reason"}}</option>
        <option value="intuition">{{localize "kult4e.Intuition"}}</option>
        <option value="perception">{{localize "kult4e.Perception"}}</option>
        <option value="coolness">{{localize "kult4e.Coolness"}}</option>
        <option value="violence">{{localize "kult4e.Violence"}}</option>
        <option value="charisma">{{localize "kult4e.Charisma"}}</option>
        <option value="soul">{{localize "kult4e.Soul"}}</option>
        {{/select}}
      </select>
    </div>
    <div class="editor-row">
      <label>{{localize "kult4e.Trigger"}}:</label>
      <div>{{editor content=data.trigger target="data.trigger" button=true owner=owner editable=editable}}</div>
    </div>
    <div>
      <label>{{localize "kult4e.Results"}}:</label>
      <div class="results-input">
        <div class="editor-row">
          <label>15+:</label>
          <div>{{editor content=data.completesuccess target="data.completesuccess" button=true owner=owner editable=editable}}</div>
        </div>
        <div class="editor-row">
          <label>10-14:</label>
          <div>{{editor content=data.partialsuccess target="data.partialsuccess" button=true owner=owner
            editable=editable}}</div>
        </div>
        <div class="editor-row">
          <label>0-9</label>
          <div>{{editor content=data.failure target="data.failure" button=true owner=owner editable=editable}}</div>
        </div>
      </div>
    </div>
    <div>
      <label>{{localize "kult4e.SpecialMove"}}:</label>
      <select name="data.specialflag" value="{{data.specialflag}}">
      {{#select data.specialflag}}
        <option value='0'>{{localize "kult4e.None"}}</option>
        <option value='1'>{{localize "kult4e.KeepItTogether"}}</option>
        <option value='2'>{{localize "kult4e.SeeThroughTheIllusion"}}</option>
        <option value='3'>{{localize "kult4e.EndureInjury"}}</option>
      {{/select}}
      </select>
    </div>
  </div>
</form>